<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parts/head %>

</head>
<body>
<div class="wrapper bg-light min-vh-100">
    <header class="container-fluid bg-primary d-flex py-2 justify-content-between align-items-center">
        <a href="/" class="text-white btn"><h4 class="my-0">Note<span class="text-warning">App</span></h4></a>
        <div class="d-flex">
            <a href="/" class="btn btn-warning mx-2">Go home</a>
        </div>

    </header>

    <main id="main" class="container-fluid d-flex p-4">
        <h3 class="text-danger text-center mt-10">Место для формы редактирования списка <span class="text-secondary">(и вашей рекламы)</span></h3>

    </main>

    <footer class="container-fluid py-2 h-20 bg-primary text-white text-center fixed-bottom">
        <p class="m-0">The NOTE © Copyright 2019</p>
    </footer>

    <% include ../parts/footer %>


</div>

<% include ../parts/scripts %>

</body>
</html>